<!DOCTYPE html>
{% load static %}
{% include '_base.html' %}
<html lang="en">
{% include 'navigation/navbar.html' %}
<body class="h-full bg-gray-50 dark:bg-gray-800">
<div class="pt-6">
    <div id="main-content"
         class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
        <main id="cart-container">
            {% if cart_items %}
            {% include 'cart/partials/cart-items.html' %}
            {% else %}
            <div id="empty-cart" hx-get="{% url 'cart:hx_empty_cart' %}"
                 hx-trigger="update-cart from:body"
                 hx-swap="outerHTML">
                {% include 'cart/partials/empty-cart.html' %}
            </div>
            {% endif %}


        </main>
    </div>
</div>

</body>


</html>
