<!--<div class="pt-4" hx-get="{% url 'orders:update_order_summary' %}"-->
<!--     hx-trigger="update-cart from:body"-->
<!--     hx-swap="outerHTML">-->
<!--    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700" id="order-summary"-->

<!--    >-->
<!--        &lt;!&ndash; This unordered list contains the items for the cart summary &ndash;&gt;-->

<!--        <li class="py-3 sm:py-4">-->
<!--            <div class="flex items-center justify-between">-->
<!--                <div class="flex items-center min-w-0">-->
<!--                    <div class="ml-3">-->
<!--                        <p class="font-medium text-sm text-gray-900 truncate dark:text-white">-->
<!--                            Subtotal-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">-->
<!--                    <div id="subtotal-section">-->
<!--                        &lt;!&ndash; The subtotal amount is displayed here, fetched dynamically using HTMX &ndash;&gt;-->
<!--                        <span id="subtotal"-->
<!--                              hx-get="{% url 'cart:update_cart_summary' %}"-->
<!--                              hx-trigger="update-cart from:body" hx-swap="innerHTML"-->
<!--                              hx-select="#subtotal-section">${{ subtotal }}</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->

<!--        {% if cart.coupon %}-->
<!--        <li class="py-3 sm:py-4">-->
<!--            <div class="flex items-center justify-between" id="coupon-section">-->
<!--                <div class="flex items-center min-w-0">-->
<!--                    <div class="flex items-center">-->
<!--                        &lt;!&ndash; A form to remove the coupon code &ndash;&gt;-->
<!--                        <form hx-post="{% url 'coupons:remove_coupon' %}">-->
<!--                            {% csrf_token %}-->
<!--                            <button type="submit" class="mr-2 lg:mt-2">-->
<!--                                <svg class="w-5 h-5 text-red-800 dark:text-red-500" aria-hidden="true"-->
<!--                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">-->
<!--                                    <path stroke="currentColor" stroke-linecap="round"-->
<!--                                          stroke-linejoin="round"-->
<!--                                          stroke-width="2"-->
<!--                                          d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/>-->
<!--                                </svg>-->
<!--                            </button>-->
<!--                        </form>-->
<!--                        <p class="font-medium text-gray-900 truncate dark:text-white">-->
<!--                            Coupon {{ cart.coupon.code }}-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="inline-flex items-center text-base font-semibold text-red-900 dark:text-red-500">-->
<!--                    &lt;!&ndash; The discount amount is displayed here &ndash;&gt;-->
<!--                    <span id="discount" hx-get=""-->
<!--                          hx-trigger=""-->
<!--                          hx-swap="innerHTML">{{ discount }}</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->
<!--        {% endif %}-->

<!--        <li class="py-3 sm:py-4">-->
<!--            <div class="flex items-center justify-between">-->
<!--                <div class="flex items-center min-w-0">-->
<!--                    <div class="ml-3">-->
<!--                        <p class="font-medium text-sm text-gray-900 truncate dark:text-white">-->
<!--                            Tax-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">-->
<!--                    <div id="tax-section">-->
<!--                        &lt;!&ndash; The tax amount is displayed here, fetched dynamically using HTMX &ndash;&gt;-->
<!--                        <span id="tax" hx-get="{% url 'cart:update_cart_summary' %}"-->
<!--                              hx-trigger="update-cart from:body" hx-swap="innerHTML"-->
<!--                              hx-select="#tax-section">${{ tax|floatformat:1 }}</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li class="py-3 sm:py-4">-->
<!--            <div class="flex items-center justify-between">-->
<!--                <div class="flex items-center min-w-0">-->
<!--                    <div class="ml-3">-->
<!--                        <p class="font-medium text-sm text-gray-900 truncate dark:text-white">-->
<!--                            Total-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">-->
<!--                    <div id="total-price-section">-->
<!--                        &lt;!&ndash; The total price is displayed here, fetched dynamically using HTMX &ndash;&gt;-->
<!--                        <span id="total-price" hx-get="{% url 'cart:update_cart_summary' %}"-->
<!--                              hx-trigger="update-cart from:body" hx-swap="innerHTML"-->
<!--                              hx-select="#total-price-section">${{ total_price|floatformat:1 }}</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->


<div hx-get="{% url 'orders:update_order_summary' %}"
     hx-trigger="update-cart from:body"
     hx-swap="outerHTML" class="mt-6 w-full space-y-6 sm:mt-8 lg:mt-0 lg:max-w-xs xl:max-w-md">
    <div class="flow-root" id="order-summary">
        <div class="-my-3 divide-y divide-gray-200 dark:divide-gray-800">
            <dl id="subtotal-section" class="flex items-center justify-between gap-4 py-3">
                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Subtotal</dt>
                <dd id="subtotal"
                    hx-get="{% url 'cart:update_cart_summary' %}"
                    hx-trigger="update-cart from:body" hx-swap="innerHTML"
                    hx-select="#subtotal-section" class="text-base font-medium text-gray-900 dark:text-white">
                    ${{ subtotal }}
                </dd>
            </dl>

            {% if cart.coupon %}
            <dl id="coupon-section" class="flex items-center justify-between gap-4 py-3">
                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Savings</dt>
                <dd id="discount" hx-get=""
                    hx-trigger=""
                    hx-swap="innerHTML" class="text-base font-medium text-green-500">{{ discount }}
                </dd>
            </dl>
            {% endif %}

            <dl id="tax-section" class="flex items-center justify-between gap-4 py-3">
                <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Tax</dt>
                <dd id="tax" hx-get="{% url 'cart:update_cart_summary' %}"
                    hx-trigger="update-cart from:body" hx-swap="innerHTML"
                    hx-select="#tax-section" class="text-base font-medium text-gray-900 dark:text-white">
                    ${{ tax|floatformat:1 }}
                </dd>
            </dl>

            <dl id="total-price-section" class="flex items-center justify-between gap-4 py-3">
                <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
                <dd id="total-price" hx-get="{% url 'cart:update_cart_summary' %}"
                    hx-trigger="update-cart from:body" hx-swap="innerHTML"
                    hx-select="#total-price-section" class="text-base font-bold text-gray-900 dark:text-white">
                    ${{ total_price|floatformat:1 }}
                </dd>
            </dl>
        </div>
    </div>

    <div class="space-y-3">
        <button type="submit"
                class="flex w-full items-center justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4  focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Proceed to Payment
        </button>

        <p class="text-sm font-normal text-gray-500 dark:text-gray-400">One or more items in your cart
            require an account. <a href="#" title=""
                                   class="font-medium text-primary-700 underline hover:no-underline dark:text-primary-500">Sign
                in or create an account now.</a>.</p>
    </div>
</div>
