<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/shop/output.css' %}">
    <link href="{% static 'css/flowbite.css' %}" rel="stylesheet"/>
    {% endcompress %}

    {% compress js %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    {% endcompress%}

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>


</head>
<body>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<!--<script src="https://unpkg.com/htmx.org@1.9.11"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script>
        // Initialize HTMX on the form
        document.addEventListener('htmx:beforeRequest', function(event) {
            event.detail.removeEventListeners = true;
        });




















</script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
})
























































</script>
</body>

</html>